<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.neostore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application

        android:name="com.example.neostore.activities.address.CustomApplication"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:allowClearUserDataOnFailedRestore="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.neostore.activities.login_screen.LoginActivity"

            >

        </activity>
        <activity
            android:name="com.example.neostore.activities.register_screen.RegisterActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.example.neostore.activities.login_screen.LoginActivity" />

        <activity
            android:name=".activities.home_screen.HomeActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.example.neostore.activities.login_screen.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER"
                    android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.neostore.activities.home_screen_ui.Tables"
            android:label="Table"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.home_screen.HomeActivity" />

        <activity
            android:name="com.example.neostore.activities.home_screen_ui.Sofa"
            android:label="Sofas"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.home_screen.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.neostore.activities.home_screen.HomeActivity" />
        </activity>

        <activity
            android:name="com.example.neostore.activities.home_screen_ui.Chairs"
            android:label="Chairs"
            android:launchMode="singleTop"
            android:parentActivityName="com.example.neostore.activities.home_screen_ui.Chairs" />
        <activity
            android:name="com.example.neostore.activities.home_screen_ui.Cupboards"
            android:label="Cupboards"
            android:launchMode="singleTop"
            android:parentActivityName="com.example.neostore.activities.home_screen_ui.Cupboards" />
        <activity
            android:name=".activities.forgot_password.ForgotPassword"
            android:launchMode="singleTop" />
        <activity
            android:name="com.example.neostore.activities.my_account.MyAccount"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.home_screen.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.neostore.activities.home_screen.HomeActivity" />
        </activity>
        <activity
            android:name="com.example.neostore.activities.reset_password.ResetPasswordActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.example.neostore.activities.my_account.MyAccount">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.neostore.activities.my_account.MyAccount" />
        </activity>
        <activity
            android:name="com.example.neostore.activities.product_details.ProductDetails"
            android:launchMode="singleInstance"
            android:parentActivityName="com.example.neostore.activities.home_screen_ui.Tables">
            <intent-filter>

                <action android:name="android.intent.action.SEND" /> <!-- Send
         action required to display activity in share list -->
                <category android:name="android.intent.category.DEFAULT" /> <!--
          Make activity default to launch -->
                <!-- Mime type i.e. what can be shared with this activity only image and text -->
                <data android:mimeType="image/*" />
                <data android:mimeType="text/*" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.neostore.activities.home_screen_ui.Tables" />

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.example.neostore.activities.my_account.EditProfile"
            android:launchMode="singleTask"
            android:parentActivityName="com.example.neostore.activities.my_account.MyAccount">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.neostore.activities.my_account.MyAccount" />
        </activity>
        <activity
            android:name="com.example.neostore.activities.my_cart.AddToCart"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.home_screen.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.home_screen.HomeActivity" />

        </activity>
        <activity
            android:name="com.example.neostore.activities.address.AddressActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.example.neostore.activities.address.AddAddressActivity"
            android:launchMode="singleInstance"

            android:parentActivityName="com.example.neostore.activities.address.AddressActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.neostore.activities.address.AddressActivity" />
        </activity>

        <activity
            android:name="com.example.neostore.activities.order.OrderListActivity"
            android:parentActivityName=".activities.home_screen.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.neostore.activities.home_screen.HomeActivity" />
        </activity>
        <activity
            android:name="com.example.neostore.activities.order_detail.OrderDetailList"
            android:parentActivityName="com.example.neostore.activities.order.OrderListActivity"

            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.neostore.activities.order_detail.OrderDetailList" />
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/AppTheme1" />


        <activity
            android:name="com.example.neostore.activities.product_details.FavouriteProduct"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.home_screen.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.neostore.activities.home_screen.HomeActivity" />
        </activity>
    </application>

</manifest>